{% extends "layout.html" %}

{% block head %}
    Information
{% endblock %}

{% block body %}
    <h1 class="display-6 d-flex justify-content-center">The Science Behind Weight Loss and Gain</h1>
    <div class="mt-5 col-md-12" style="font-size: 20px;">
        <p>People often overcomplicate weight loss and gain. A quick search on the internet will yield articles and videos that keep harping on the importance of timings, food groups, meal prep, high-intensity interval training and a keto diet. While some of these might ultimately be helpful, they distract people from the single most important factor: <strong>calories</strong>.</p>
        <p>Calories are units of energy, and our bodies require them for everything from breathing to thinking to moving. We take in calories by eating and our bodies burn (or use) them by carrying out basic functions and through exercise. If a person consumes more calories than they burn, they gain weight, and if they consume less calories than they burn, they lose weight.</p>
        <p>1 kilogram (kg) of fat equals 7700 calories, which means that if you remain in a calorie deficit (consuming less calories than you burn) of 1100 calories per day, you can lose 1 kilogram of fat in a week, and the opposite holds true for weight gain. Similarly, 1 pound (lb) of fat equals 3500 calories, so a daily calorie deficit of 500 calories will cause you to lose 1 pound of fat in a week, while a daily calorie excess of 500 calories will cause you to gain 1 pound of fat in a week.</p>
        <p>Additionally, the amount of calories a person burns depends on their size, age and gender. Larger people tend to burn more calories than smaller people. You can calculate your basal metabolic rate (BMR) using our <a href="/bmrcalculator" style="color: #198754; text-decoration: none;">BMR Calculator</a>.</p>
        <img src="/static/BMR Graph.png" alt="Effect of age and gender on basal metabolic rate" style="display: block; margin: auto;">
        <p style="font-size: 16px; text-align: center;">Data from GIGAcalculator.com</p>
        <br>
        <br>
    </div>
{% endblock %}